<nav class="sticky-top navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{title}}</a>
  <div class="text-white-50">
    An fast way to review essential features of angular
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-12">

      <!-- Components -->
      <app-simple></app-simple>
      <app-angular-cli></app-angular-cli>
      <div app-attribute-selector></div>
      <div class="app-class-selector"></div>

      <!-- Databinding -->
      <app-interpolation></app-interpolation>
      <app-property-binding></app-property-binding>
      <app-event-binding></app-event-binding>
      <app-two-way-binding></app-two-way-binding>

      <!-- Directives -->
      <app-ngif-else-directive></app-ngif-else-directive>
      <app-ngstyle-directive></app-ngstyle-directive>
      <app-ngclass-directive></app-ngclass-directive>
      <app-ngfor-directive></app-ngfor-directive>

      <!-- Advanced Databinding -->
      <!-- Input -->
      <div class="card mt-3">
        <div class="card-header">
          Advanced Databinding: @Input
          <span class="float-right badge badge-primary">Advanced Databinding</span>
        </div>
        <div class="card-body">
          <p class="card-text">
            <app-input-databinding *ngFor="let vehicle of vehicles" [thecar]="vehicle">
            </app-input-databinding>
          </p>
        </div>
      </div>

      <!-- Output -->
      <app-output-databinding (theFruitAdded)="onFruitAdded($event)">
      </app-output-databinding>

      <div class="card">
        <div class="card-body">
          <span class="badge badge-info mr-1" *ngFor="let fruit of fruits">{{ fruit }}</span>
        </div>
      </div>

      <!-- View Encapsulation -->
      <app-view-encapsulation></app-view-encapsulation>

      <!--Local Reference -->
      <app-local-reference></app-local-reference>

      <app-view-child></app-view-child>

    </div>
  </div>
</div>
<router-outlet>
</router-outlet>