<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{title}}</a>
  <div class="text-white-50">
    A Notebook to Review Angular
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-12">

      <!-- Components -->
      <app-simple></app-simple>
      <app-angular-cli></app-angular-cli>
      <div app-attribute-selector></div>
      <div class="app-class-selector"></div>

      <!-- Databinding -->
      <app-interpolation></app-interpolation>
      <app-property-binding></app-property-binding>


    </div>
  </div>
</div>

<router-outlet></router-outlet>